$transitionSpeed: 0.6s;
$headerHeight: 3.4em;

$pageTitleSize: 3em;

// Colors
$colorWhite: #fff;
$colorWhite1: #eee;
$colorWhite2: #ddd;

$colorBlack: #000;
$colorBlack1: #111;

$colorBlueLight1: #309cea;
$colorBlueLight2: #7ac4e4;